# A2.03 - In-Class - Code Practice I
>Practice what we have covered so far in class.
>
>Variables, numbers, strings, lists and dictionaries!

In [1]:
# Create a variable that holds an integer.
amt = 70
type(amt)

int

In [3]:
# Create a variable that holds a float.
pennywise = 3.3

In [4]:
# Create a variable that holds a single-quote string.
my_str = 'WANT'

In [6]:
# Create a variable that holds a string that contains an apostrophe.
apostrophe = "DON'T"
apostrophe = 'DON\'T'

In [7]:
# Print your string that holds an apostrophe by using the variable name.
print(apostrophe)

DON'T

In [10]:
# Use floor division
10 // 3

3

In [11]:
# Use modulo division
10 % 3

1

In [12]:
# What is 10 to the power of 10?
10 ** 10

10000000000

In [14]:
# What is the square root of 100?
100 ** 0.5

10.0

In [16]:
# Create a new string and save it to a variable
my_str = "0123456789"

In [17]:
# Call the first item in the string
my_str[0]

'0'

In [18]:
# call the last item in the string
my_str[-1]

'9'

In [22]:
# Call every second item in the string
my_str[::2]

'02468'

In [23]:
# Reverse the string
my_str[::-1]

'9876543210'

In [24]:
# Reverse the string but call every second item
my_str[::-2]

'97531'

In [27]:
# Set your string to Upper case
my_str = "The quick brown fox jumped over the lazy dog."
my_str.upper()

'THE QUICK BROWN FOX JUMPED OVER THE LAZY DOG.'

In [28]:
# Set your string to Lower Case
my_str.lower()

'the quick brown fox jumped over the lazy dog.'

In [29]:
# Create a string that holds a sentence
my_str

'The quick brown fox jumped over the lazy dog.'

In [32]:
# Split this new string on the spaces
my_str.split()

['The', 'quick', 'brown', 'fox', 'jumped', 'over', 'the', 'lazy', 'dog.']

In [33]:
# Create a list of three single word strings and save it a to a variable
lst = ["One", "Two", "Three"]

In [34]:
# Call the second item in the list
lst[1]

'Two'

In [41]:
# Reassign the third item in the list to a dictionary with at least two key-value pairs
# One value should be a string
# The other value should be a number type
lst[2] = {"key1": "value1", "key2": 2}
lst

['One', 'Two', {'key1': 'value1', 'key2': 2}]

In [39]:
# Double the number inside the dictionary inside the list
lst[2]["key2"] * 2

4

In [40]:
# Call the Upper method on the string inside the dictionary inside the list
lst[2]["key1"].upper()

'VALUE1'